<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesión</h2>
</div>

<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
      </ul>
    </div>
  </nav>
<ng-template #loggedOut>
    <div class="contenedor d-flex justify-content-center">
        <div class="card">
          <div class="Sign-Up">
            <a class="nav-link active">Log In</a>
          </div>
            <div class="card-body">
                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                    <div class="form-group">
                        <label for="nombreUsuario">Nombre de Usuario</label>
                        <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control"
                        [(ngModel)]="nombreUsuario" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" class="form-control"
                        [(ngModel)]="password" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                            <i class="fas"></i>Log In</button>
                    </div>                
                </form>
            </div>
        </div>
    </div>
</ng-template>
