<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h2>Ya has iniciado sesión</h2>
</div>

<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
    </ul>
  </div>
</nav>

<ng-template #loggedOut>
  <div class="contenedor d-flex justify-content-center">
    <div class="card">
      <div class="Sign-Up">
        <a class="nav-link active">Sign Up</a>
      </div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onRegister()" novalidate class="j">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="nombre" required
            pattern="^[a-zA-Z\s]+$" title="El nombre debe contener solo letras y espacios">     
          </div>
          <div class="form-group">
            <label for="nombreUsuario">Nombre de Usuario</label>
            <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control" [(ngModel)]="nombreUsuario"
              required  pattern="^[a-zA-Z\s]+$" title="El nombre debe contener solo letras y espacios">
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" required
             pattern=".{8,}" title="La contraseña debe tener al menos 8 caracteres">
          </div>
          <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="text" name="email" id="email" class="form-control" [(ngModel)]="email" required>
          </div>
          <div class="form-group">
            <!-- $env:NODE_OPTIONS = "--openssl-legacy-provider" -->
            <button class="btn btn-block" [disabled]="!f.valid">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>