<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isLogged">
          </li>
          <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
            <a class="nav-link" style="cursor: pointer;"><i class="fas fa-door-open" ></i> Cerrar Sesión</a>
          </li>
      </ul>
    </div>
  </nav>
  <div class="gcirculo"><div class="circulo">PAEPRO</div></div>
<div class="body">
  <div class="rectangulo R1" routerLink="/login">Log In</div>
  <div class="rectangulo R2" routerLink="/registro">Sign Up</div>
</div>